@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./custom-base-styles.css";
@import "./custom-utilities.css";
@import "./custom-components.css";

.body-bg{
    background-color: $body-bg;
}

.border-blue-light{
    border-color: #8ae2fe;
}

.navbar-brand{
    img {
        display: inline-block;
        min-width: 2rem;
    }
}
